// colors
$true-white: #fff;
$white: #f8f8f8;
$light-gray: #c1becd;
$medium-gray: #7b7c94;
$dark-gray: #353542;
$black: #121212;
$trueblack: #000;
$orange: #ff6600;
$green: #228b22;
$purple: #652dc1;
$violet: #3e0480;

$background: #d8d8d8;

// spacing values, useful for padding/margin
$small: 0.5em;
$medium: 1em;
$large: 1.5em;

$small-font-size: 0.8em;
$regular-font-size: 1em;
$large-font-size: 1.2em;
$base-line-height: 1.5;

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// placeholders
%headerFooterShared {
    flex: none;
    color: $white;
}

%delimitedSiblings {
    border-right: 1px $light-gray solid;
    padding: 0 $medium;
    &:last-child {
        border: none;
    }
}

// mixins

@mixin dynamicFontSizes($base-font-size: 1em, $base-line-height: 1.5) {
    font-size: $base-font-size;
    line-height: $base-line-height;
    @media #{$mq-medium} { font-size: $base-font-size * 1.2; line-height: $base-line-height * 1.2; }
    @media #{$mq-large} { font-size: $base-font-size * 1.3; }
    @media #{$mq-xlarge} { font-size: $base-font-size * 1.4; }
    @media #{$mq-xxlarge} { font-size: $base-font-size * 1.6; }
    @media #{$mq-retina} { font-size: $base-font-size * 2.0; }
}

@mixin dynamicSideMargins($scale: 4%) {
    margin: 0 $scale;
    @media #{$mq-medium} { margin: 0 ($scale * 2); }
    @media #{$mq-large} { margin: 0 ($scale * 3); }
    @media #{$mq-xlarge} { margin: 0 ($scale * 4.5); }
}

// begin actual useful CSS

* {
    font-family: 'PT Mono', monospace;
    box-sizing: border-box;
}

a, a:hover, a:visited {
    color: $orange;
}

body {
    background-color: $background;
    margin: 0 auto;
    @include dynamicFontSizes($regular-font-size);
}

#root {
    height: 100vh;
}

.theOneContainer {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        @extend %headerFooterShared;
        background: linear-gradient(to right, $purple, 75%, $violet);

        .headerContent {
            padding: $small $medium;
            @include dynamicSideMargins(2%);

            .title {
                @include dynamicFontSizes($large-font-size);
            }

            .switcher {
                @include dynamicFontSizes($small-font-size);
                @extend %delimitedSiblings;
                cursor: pointer;
            }
        }

        .garnish {
            height: 1px;
            background: repeating-linear-gradient(to right, $green 10px 20px, $orange 20px 25px);
        }
    }

    .content {
        flex: 1;
        padding: $small;
        @include dynamicSideMargins;
    }

    .footer {
        @extend %headerFooterShared;
        background-color: $medium-gray;

        .footerContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: $small;

            .linksContainer {
                display: flex;
                align-items: center;
                justify-content: center;

                .link {
                    @extend %delimitedSiblings;
                    @include dynamicFontSizes($small-font-size);
                    color: $light-gray;
                }
            }
        }
    }
}
