@import 'modern-normalize';
@import './theme.css';

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}
