@import 'modern-normalize';
@import 'open-props/sizes';
@import 'open-props/fonts';
@import 'open-props/easings';
@import 'open-props/borders';
@import './theme.css';

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition:
    background-color 0.2s var(--ease-2),
    color 0.2s var(--ease-2);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}
